<!DOCTYPE html>
<html>
<head>
    <title>My Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'base' %}">My Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collaps navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Add Product</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link" hfef="#"> Your money: ${{ user.wallet }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% if request.user.is_authenticated %}
    <h1>Products</h1>
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.image.url }}" class="rounded mx-auto d-block"
                     style="height: 190px; weight: 190px" alt="{{ item.product.slug }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                </div>
                {% if request.user.is_superuser %}
                <a href={% url 'update' product.slug %} class="btn btn-outline-secondary">Update</a>
                {% endif %}
                <a href={% url 'product_item' product.slug %} class="btn btn-outline-primary" >Show</a>
                <a href={#} class="btn btn-success" >Buy</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="card-text">YOU NOT NASH HLOPEC</p>
    </div>
    {% endif %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
